.button {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat;
  cursor: pointer;
  font-weight: 500;
  &:hover {
    background-color: gold;
    color: black;
  };
  width: 22%;
  &__select {
    background-color: gold;
    color: black;
    font-weight: 700;
  }
}